@{
    ViewData["Title"] = "Thank You";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank You</title>
    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
            margin: 0;
            padding: 0;
        }

        .thank-you-container {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

            .thank-you-container h2 {
                color: #d10024;
                margin-bottom: 20px;
            }

            .thank-you-container p {
                font-size: 18px;
                line-height: 1.5;
                color: #1e1f29;
                margin-bottom: 30px;
            }

        .order-details, .delivery-address {
            margin-top: 30px;
        }

            .order-details h3, .delivery-address h3 {
                color: #1e1f29;
                margin-bottom: 15px;
            }

            .order-details p, .delivery-address p {
                font-size: 16px;
                margin-bottom: 10px;
                color: #1e1f29;
            }

        .continue-shopping-btn {
            color: #fff;
            background-color: #d10024;
            border: none;
            padding: 15px 25px;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

            .continue-shopping-btn:hover {
                background-color: #1e1f29;
                color:white;
            }
    </style>
</head>
<body>
    <div class="thank-you-container">
        <h2>Thank You for Your Order!</h2>
        <p>Your order has been successfully placed <i style="color:green;" class="bi bi-check-circle"></i></p>
        <p style="margin-top:-30px"> We appreciate your business and hope you enjoy your products.</p>

        <div class="order-details">
            <h3>Order Details</h3>
            <p><strong>Order ID:</strong> @ViewBag.Order.OrderId</p>
            <p><strong>Total Amount:</strong> @ViewBag.Order.TotalAmount EGP</p>
        </div>

        <div class="delivery-address">
            <h3>Delivery Address</h3>
            <p>@ViewBag.Order.Address.AddressLine, @ViewBag.Order.Address.City, @ViewBag.Order.Address.Country</p>
        </div>

        <p>For any inquiries or assistance, feel free to contact our customer support.</p>

        <!-- Additional information or call-to-action can be added here -->

        <a asp-controller="Home" asp-action="Index" class="continue-shopping-btn mt-3">Continue Shopping</a>
    </div>
</body>
</html>
