@model List<Product>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            padding: 10px;
            margin-top: 10px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>
</head>
<body>

    <h2>Product List</h2>



    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock Quantity</th>
@*                 <th>Category</th>
 *@            </tr>
        </thead>
        <tbody>
                
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.ProductName</td>
                    <td>@obj.Description for @obj.ProductName</td>
                    <td>@obj.Price</td>
                    <td>@obj.StockQuantity</td>
                    @* <td>@obj</td> *@

                </tr>
            }

        </tbody>
    </table>
    <a asp-controller="Product" asp-action="Create" class="btn btn-danger"><i class="bi bi-plus-circle"></i>Create new Product</a>


</body>
</html>