@* Product Details *@

@model dynamic

@{
    var product = ViewBag.Product as LapZone.Models.Product;
    bool isInWishlist = ViewBag.IsInWishlist as bool? ?? false;
}
@{
    int? userId = null;

    if (Context.Request.Cookies.ContainsKey(".AspNetCore.Session"))
    {
        userId = Context.Session.GetInt32("UserId");

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product detatils</title>

    <style>
        .add-to-wishlist-btn {
            font-size: 1.4rem;
            background-color: #fff; /* White background color */
            color: #000; /* Black text color */
            padding: 10px 20px; /* Padding for better appearance */
            margin-left: -20px;
            margin-bottom: -30px;
            border: none; /* No border */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Cursor style on hover */
            transition: background-color 0.3s; /* Smooth transition for background color */
        }

            .add-to-wishlist-btn:hover {
                color: #d10024; /* Dark red color on hover */
            }

    </style>
</head>
<body>

    <div style="margin-top:7rem;margin-bottom:9rem;">
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- Product main img -->
                    <div class="col-md-5 col-md-push-2">
                        <div id="product-main-img">


                            <div class="product-preview">
                                <img src="~/Images/Products/@Model.ImagePath" alt="">
                            </div>


                        </div>
                    </div>
                    <!-- /Product main img -->
                    <!-- Product thumb imgs -->
                    <div class="col-md-2  col-md-pull-5">
                        <div id="product-imgs">
                            @* <div class="product-preview">
                            <img src="~/img/product01.png" alt="">
                            </div>

                            <div class="product-preview">
                            <img src="~/img/product03.png" alt="">
                            </div>

                            <div class="product-preview">
                            <img src="~/img/product06.png" alt="">
                            </div>

                            <div class="product-preview">
                            <img src="~/img/product08.png" alt="">
                            </div> *@
                        </div>
                    </div>
                    <!-- /Product thumb imgs -->
                    <!-- Product details -->
                    <div class="col-md-5">
                        <div class="product-details">
                            <h2 class="product-name">@Model.ProductName</h2>
                            @*   <div>
                            <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            </div>
                            <a class="review-link" href="#">10 Review(s) | Add your review</a>
                            </div> *@
                            <div>
                                <h3 class="product-price">@Model.Price EGP</h3>
                                @if (Model.StockQuantity > 0)
                                {
                                    <span class="product-available">@Model.StockQuantity In Stock</span>
                                }
                                else
                                {
                                    <span style="color:dimgray;" class="product-available">Out of stock </span>
                                }

                            </div>
                            <p>
                                @Model.Description
                            </p>

                            @if (Model.StockQuantity > 0)
                            {
                                <form onsubmit="return addToCart(event)" asp-controller="Cart" asp-action="AddToCart" method="post">
                                    <input type="hidden" name="productId" value="@Model.ProductId" />
                                    <div class="add-to-cart">
                                        <div class="qty-label">
                                            Qty
                                            <div class="input-number">
                                                <input type="number" name="quantity" value="1" min="1" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    </div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-success">
                                            @ViewBag.Message
                                        </div>
                                    }
                                </form>
                            }


                            @if (!isInWishlist)
                            {
                                <form id="addToWishlistForm_@product.ProductId" asp-controller="Wishlist" asp-action="AddToWishlist" method="post">
                                    <input type="hidden" name="productId" value="@product.ProductId" />
                                    <input type="hidden" name="sourcePage" value="ProductDetails" />

                                    <ul class="product-btns">
                                        <li>
                                            <button type="submit" class="add-to-wishlist-btn" onclick="toggleWishlist(@product.ProductId, false)">Add to Wishlist <i style="color:#d10024;" class="bi bi-heart"></i> </button>
                                        </li>
                                    </ul>
                                </form>
                            }
                            else
                            {
                                <form id="addToWishlistForm_@product.ProductId" asp-controller="Wishlist" asp-action="RemoveFromWishlist" method="post">
                                    <input type="hidden" name="productId" value="@product.ProductId" />
                                    <input type="hidden" name="sourcePage" value="ProductDetails" />

                                    <ul class="product-btns">
                                        <li>
                                            <button type="submit" class="add-to-wishlist-btn" onclick="toggleWishlist(@product.ProductId, true)">Remove from Wishlist <i style="color:#d10024;" class="bi bi-heart-fill"></i> </button>
                                        </li>
                                    </ul>
                                </form>
                            }
                            <ul class="product-links">
                                <li>Category:</li>
                                <li><a asp-controller="ProductStore" asp-action="Search" asp-route-categoryId="@Model.Category.CategoryId">@Model.Category.CategoryName</a></li>
                            </ul>

                            @*    <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul> *@

                        </div>
                    </div>
                    <!-- /Product details -->
                    @*   <!-- Product tab -->
                    <div class="col-md-12">
                    <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                    <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                    <li><a data-toggle="tab" href="#tab2">Details</a></li>
                    <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                    <!-- tab1  -->
                    <div id="tab1" class="tab-pane fade in active">
                    <div class="row">
                    <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    </div>
                    </div>
                    <!-- /tab1  -->
                    <!-- tab2  -->
                    <div id="tab2" class="tab-pane fade in">
                    <div class="row">
                    <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    </div>
                    </div>
                    <!-- /tab2  -->
                    <!-- tab3  -->
                    <div id="tab3" class="tab-pane fade in">
                    <div class="row">
                    <!-- Rating -->
                    <div class="col-md-3">
                    <div id="rating">
                    <div class="rating-avg">
                    <span>4.5</span>
                    <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    </div>
                    </div>
                    <ul class="rating">
                    <li>
                    <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </div>
                    <div class="rating-progress">
                    <div style="width: 80%;"></div>
                    </div>
                    <span class="sum">3</span>
                    </li>
                    <li>
                    <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    </div>
                    <div class="rating-progress">
                    <div style="width: 60%;"></div>
                    </div>
                    <span class="sum">2</span>
                    </li>
                    <li>
                    <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    </div>
                    <div class="rating-progress">
                    <div></div>
                    </div>
                    <span class="sum">0</span>
                    </li>
                    <li>
                    <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    </div>
                    <div class="rating-progress">
                    <div></div>
                    </div>
                    <span class="sum">0</span>
                    </li>
                    <li>
                    <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    </div>
                    <div class="rating-progress">
                    <div></div>
                    </div>
                    <span class="sum">0</span>
                    </li>
                    </ul>
                    </div>
                    </div>
                    <!-- /Rating -->
                    <!-- Reviews -->
                    <div class="col-md-6">
                    <div id="reviews">
                    <ul class="reviews">
                    <li>
                    <div class="review-heading">
                    <h5 class="name">John</h5>
                    <p class="date">27 DEC 2018, 8:0 PM</p>
                    <div class="review-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                    </div>
                    </div>
                    <div class="review-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                    </li>
                    <li>
                    <div class="review-heading">
                    <h5 class="name">John</h5>
                    <p class="date">27 DEC 2018, 8:0 PM</p>
                    <div class="review-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                    </div>
                    </div>
                    <div class="review-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                    </li>
                    <li>
                    <div class="review-heading">
                    <h5 class="name">John</h5>
                    <p class="date">27 DEC 2018, 8:0 PM</p>
                    <div class="review-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                    </div>
                    </div>
                    <div class="review-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                    </li>
                    </ul>
                    <ul class="reviews-pagination">
                    <li class="active">1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    </div>
                    </div>
                    <!-- /Reviews -->
                    <!-- Review Form -->
                    <div class="col-md-3">
                    <div id="review-form">
                    <form class="review-form">
                    <input class="input" type="text" placeholder="Your Name">
                    <input class="input" type="email" placeholder="Your Email">
                    <textarea class="input" placeholder="Your Review"></textarea>
                    <div class="input-rating">
                    <span>Your Rating: </span>
                    <div class="stars">
                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                    </div>
                    </div>
                    <button class="primary-btn">Submit</button>
                    </form>
                    </div>
                    </div>
                    <!-- /Review Form -->
                    </div>
                    </div>
                    <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                    </div>
                    </div>
                    <!-- /product tab --> *@
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
    </div>
    <script>

        function toggleWishlist(productId, isInWishlist) {
            var isAuthenticated = @(userId != null ? "true" : "false");

            if (!isAuthenticated) {
                alert('Please login first.');
                event.preventDefault(); // Prevent the form submission
                return;
            }

            if (isInWishlist) {
                // Product is in the wishlist, remove it
                document.getElementById('removeFromWishlistForm_' + productId).submit();
            } else {
                // Product is not in the wishlist, add it
                document.getElementById('addToWishlistForm_' + productId).submit();
            }
        }


        function addToCart(event) {
            // Check if the user is authenticated
            var isAuthenticated = @(userId != null ? "true" : "false");

            if (!isAuthenticated) {
                alert('Please login first.');
                event.preventDefault(); // Prevent the form submission
                return false; // Prevent form submission
            }

            // Get the selected quantity
            var quantity = parseInt(document.getElementsByName("quantity")[0].value);

            // Get the stock limit
            var stockLimit = parseInt('@Model.StockQuantity');

            // Check if the quantity exceeds the stock limit
            if (quantity > stockLimit) {
                // Display an alert or any other message to the user
                alert('Note that you have exceeded the current stock quantity. Please reduce the quantity if you want to place the order now.');

                // Prevent form submission
                return true;
            }

            // Continue with the form submission
            return true;
        }

    </script>

</body>
</html>
