<!-- Cart -->
@model IEnumerable<LapZone.Models.CartItem>

@{
    ViewData["Title"] = "Index";

    decimal total = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping Cart</title>
    <style>
        .btn-primary-custom {
            color: white;
            background-color: #d10024;
            border-color: #d10024;
        
            padding: 15px 25px; /* Adjust the padding as needed */
            font-size: 19px;
            margin: 40px;
        }

            .btn-primary-custom:hover {
                color: white;
                background-color: #1e1f29;
                border-color: #1e1f29;
            }

        .error-text {
            color: #d10024;
            font-weight: bold;
        }

        .insufficient-stock-message {
            margin-top: 20px;
        }

        .stock-list {
            list-style: none;
            padding: 0;
        }

        .stock-item {
            margin-bottom: 10px;
        }

        .product-name {
            color: #1e1f29;
        }

        .stock-limit {
            color: #555;
            margin-left: 10px;
        }

        .no-items-message {
            text-align: center;
            font-size: 18px;
            color: #555;
            margin-top: 30px;
        }

        .delete{
            background-color:white;
            border:none;
            padding:0px;
            transition: background-color 0.2s, transform 0.2s;
            font-size:25px;
            margin-top:100px;
        }
        .delete:hover{
        transform: scale(1.2);
        }


       .bi-cart-x{
           color:#d10024;
            transition: background-color 0.3s, transform 0.3s;
        }
                
    </style>
</head>
<body>
    <div class="container mt-5">
        @if (Model == null || !Model.Any())
        {
            <div style="margin-top:11rem;"></div>

            <div class="no-items-message">
                <p style="font-size:3.2rem;">Cart is empty <i class="bi bi-cart-dash-fill"></i></p>
                <a href="@Url.Action("Index", "ProductStore")" style="font-size:1.8rem;margin-top:20px;" class="btn btn-primary-custom ">Start shopping now!</a>
            </div>
            <div style="margin-bottom:11rem;"></div>

        }
        else
        {
            <div style="margin-top:4rem;"></div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Quantity > 0)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="~/Images/Products/@item.Product.ImagePath" class="img-fluid rounded-3"
                                            style="width: 120px;" alt="Product Image">
                                            <div class="flex-column ms-4">
                                                <a asp-controller="ProductDetails" asp-action="Index" asp-route-id="@item.Product.ProductId" class="mb-2"><b>@item.Product.ProductName</b></a>
                                                <p class="mb-0" style="font-weight:normal;">@item.Product.Description</p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <a asp-controller="ProductStore" asp-action="Search" asp-route-categoryId="@item.Product?.Category?.CategoryId" class="mb-0" style="font-weight: 500;margin:0px 5px;"><b>@(item.Product?.Category?.CategoryName ?? "No Category")</b></a>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex flex-row">
                                            <p class="mb-0" style="font-weight: 500;margin:0px 20px;">@item.Quantity</p>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">@(item.Product.Price * item.Quantity) EGP</p>
                                    </td>
                                    @{
                                        total += item.Product.Price * item.Quantity;
                                    }
                                    <td class="align-middle">
                                        <form asp-controller="Cart" asp-action="Delete" asp-route-id="@item.CartItemId" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <button class="delete" type="submit"><i class="bi bi-cart-x"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            @if (ViewBag.insufficientStockItems != null && ViewBag.insufficientStockItems.Count > 0)
            {
                <div class="insufficient-stock-message">
                    <p class="error-text">Insufficient stock for the following items:</p>
                    <ul class="stock-list">
                        @foreach (var item in ViewBag.insufficientStockItems)
                        {
                            <li class="stock-item">
                                <a asp-controller="ProductDetails" asp-action="Index" asp-route-id="@item.Product.ProductId">@item.Product.ProductName</a>
                                <span class="stock-limit">(Stock Limit: @item.Product.StockQuantity)</span>

                                <a asp-controller="Cart" asp-action="DecreaseQuantity" style="font-size:1.2rem" asp-route-id="@item.Product.ProductId"><i>Click to decrease quantity</i></a>

                            </li>
                        }
                    </ul>
                </div>
            }

            <form asp-controller="Order" asp-action="Index" method="post">
                <!-- Add a hidden field to indicate the source page -->
                <input type="hidden" name="sourcePage" value="Cart" />

                <button type="submit" class="btn btn-primary-custom navbar-right">
                    <div class="d-flex justify-content-between">
                        <span>Checkout @total EGP</span>
                    </div>
                </button>
            </form>
        }
        <div style="margin-top:6rem;"></div>

    </div>

</body>
</html>
